 <div class="columns">
  <div class="column is-10 is-offset-1 has-text-centered">
    <div class="box">
      <h3 class="is-size-3">Resend confirmation instructions</h3>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <p class="conrol">
            <%= f.label :email, class: "label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "input" %>
          </p>
        </div>

        <div class="actions">
          <%= f.submit "Resend confirmation instructions", class: "button is-info" %>
        </div>
      <% end %>
      <br />
      <%= render "devise/shared/links" %>
    </div>
  </div>
 </div>