<%= form_with url: post_comments_path(post_id: comment.post_id), method: :post do |f| %>
    <div class="comment_form columns">
        <div class="column is-2 is-flex is-justify-content-right">
            <figure class="image is-24x24">
                <%= link_to current_user do %>
                    <%= image_tag avatar_select(current_user, [50,50]), alt: 'Placeholder Image', class: 'is-rounded' %>
                <% end %>
            </figure>
        </div>
        <div class="column is-10">
            <div class="field is-horizontal columns">
                <div class="control column is-9">
                    <%= f.text_field :body, placeholder: "Write a comment...", class: 'input is-small comment-form' %>
                </div>
                <div class="ml-1 column is-2">
                    <%= f.submit message, class: 'button is-link is-small' %>
                </div>
            </div>
        </div>
    </div>
<% end %>