<div class="columns mt-6" id="user-profile">
    <div class="column is-3 is-offset-1">
        <figure class="image is-square">
            <% if @user.avatar.attached? %>
                <%= cl_image_tag @user.avatar.key, :width => 250, :height => 250, :crop => "fill", alt: 'Placeholder Image', class: 'is-rounded' %>
            <% else %>
                <%= image_tag "https://bulma.io/images/placeholders/128x128.png", alt: 'Placeholder Image', class: 'is-rounded' %>
            <% end %>
        </figure>
    </div>
    <div class="column is-5">
        <h3 class="is-size-3"><%= @user.name %></h3>

        <% unless User.is_friend?(current_user, @user) %>
            <% friend_request = FriendRequest.locate_request(current_user.id, @user.id) %>
            <% if friend_request.empty? %>
                <%= link_to friend_requests_path(user_id: current_user.id, friend_id: @user.id), method: :post, class: 'button is-small' do %>
                    <span>Add Friend</span>
                    <span class="icon">
                        <%= icon('fas', 'user-plus') %>
                    </span>
                <% end %>
            <% else %>
                <%= link_to friend_request_path(friend_request[0].id), method: :delete, class: 'button is-small' do %>
                    <span>Delete Request</span>
                    <span class="icon">
                        <%= icon('fas', 'user-minus') %>
                    </span>
                <% end %>
            <% end %>
        <% end %>
        <div class="user-info mt-3">
            <span class="icon-text">
                <span class="icon">
                    <%= icon('fas', 'envelope') %>
                </span>
                <span><%= @user.email %></span>
            </span>
        </div>
    </div>
    <% if @user.id == current_user.id%>
        <div class="column is-1">
            <%= link_to edit_user_path(@user), class: 'navbar-item', id: 'edit-profile' do %>
                <div class="field is-grouped">
                <p class="control">
                    <span class="icon">
                    <%= icon('fas', 'cog') %>
                    </span>
                </p>
                </div>
            <% end %>
        </div>
    <% end %>
</div>

<div id="user-posts" class="columns mt-4">
    <div class="column is-10 is-offset-1">
        <% @posts.each do |post| %>
            <%= render 'posts/post', post: post %>
        <% end %>
    </div>
</div>