<div class="columns is-flex-wrap-wrap">
    <% requests.each do |request| %>
        <% view == 'incoming' ? requestor = User.find(request.user.id) : requestor = User.find(request.friend.id) %>
        <div class="column is-6 ">
            <div class="media columns">
                <div class="column is-12">
                    <div class="media-center">
                        <figure class="image is-48x48">
                            <%= image_tag avatar_select(requestor, [75,75]), alt: 'Placeholder Image', class: 'is-rounded' %>
                        </figure>
                    </div>
                    <div class="media-content">
                        <h6 class="is-size-6"><%= requestor.name %>
                    </div>
                </div>
            </div>
            <div class="buttons column is-12 has-text-centered">
                <% if view == 'incoming' %>                
                    <%= link_to friend_request_path(request), method: :put, class: 'button is-small mb-1' do %>
                        <span>Accept</span>
                        <span class="icon">
                            <%= icon('fas', 'plus') %>
                        </span>
                    <% end %>
                <% end %>
                <%= link_to friend_request_path(request), method: :delete, class: 'button is-small' do %>
                    <span><%= button_message %></span>
                    <span class="icon">
                        <%= icon('fas', 'minus') %>
                    </span>
                <% end %>
            </div>
        </div>
    <% end %>
</div>