<div class="columns is-flex-wrap-wrap">
    <% requests.each do |request| %>
        <% view == 'incoming' ? requestor = User.find(request.user.id) : requestor = User.find(request.friend.id) %>
        <div class="column is-4">
            <div class="media columns">
                <div class="column is-8">
                    <%= link_to requestor do %>
                        <div class="is-flex is-justify-content-center">
                            <figure class="image is-48x48">
                                <% if requestor.avatar.attached? %>
                                    <%= cl_image_tag requestor.avatar.key, :width => 75, :height => 75, :crop => "fill", alt: 'Placeholder Image', class: 'is-rounded' %>
                                <% else %>
                                    <%= image_tag "https://bulma.io/images/placeholders/128x128.png", alt: 'Placeholder Image', class: 'is-rounded' %>
                                <% end %>
                            </figure>
                        </div>
                        <h6 class="is-size-6"><%= requestor.name %>
                    <% end %>
                </div>
                <div class="column is-2">
                    <div class="buttons has-text-centered">
                        <% if view == 'incoming' %>                
                            <%= link_to friend_request_path(request), method: :put, class: 'button is-small mb-1' do %>
                                <span>Accept</span>
                                <span class="icon">
                                    <%= icon('fas', 'plus') %>
                                </span>
                            <% end %>
                        <% end %>
                        <%= link_to friend_request_path(request), method: :delete, class: 'button is-small' do %>
                            <span><%= button_message %></span>
                            <span class="icon">
                                <%= icon('fas', 'minus') %>
                            </span>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>