<%= form_with model: post do |f| %>
    <div class="post columns box m-2">
        <div class="column is-2">
            <figure class="image is-pulled-right">
                <%= link_to current_user do %>
                    <%= image_tag avatar_select(current_user, [48,48]), alt: 'Placeholder Image', class: 'is-rounded' %>
                <% end %>
            </figure>
        </div>
        <div class="column is-10">
            <p class="is-size-5 mb-2"><%= current_user.name %></p>
            <div class="field">
                <div class="control">
                    <%= f.text_area :body, placeholder: "What's on your mind?", class: 'textarea is-small' %>
                </div>
            </div>
            <div class="is-flex is-justify-content-space-between">
                <div class="file has-name is-link is-small">
                    <label class="file-label">
                        <%= f.file_field :photo, accept: 'image/png,image/jpeg,image/gif', class: 'file-input' %>
                        <span class="file-cta">
                            <span class="file-label">
                                Add an image
                            </span>
                        </span>
                        <span class="file-name"></span>
                    </label>
                </div>
                <%= f.submit message, class: 'button is-pulled-right is-link' %>
            </div>
        </div>
    </div>
<% end %>