<article class="post box m-2" id="post-<%= post.id %>">
    <div class="columns">
        <div class="column is-2">
            <figure class="image is-48x48 is-pulled-right">
                <%= link_to post.user do %>
                    <%= image_tag avatar_select(post.user, [48,48]), alt: 'Placeholder Image', class: 'is-rounded' %>
                <% end %>
            </figure>
        </div>
        <div class="column is-9">
            <p class="is-text-weight-semibold is-size-6"><%= link_to post.user.name, post.user %></p>
            <p class="is-size-6"><%= post.body %></p>
            <div class="post-image">
                <% if post.photo.attached? %>
                    <%= image_tag post.photo, alt: 'Post Image', class: '' %>
                <% end %>
            </div>
            <div class="likes">
                <% like = Like.locate_like(current_user.id, post.id) %>
                <% if like.empty? %>
                    <%= link_to likes_path(post_id: post), method: :post, class:'is-pulled-right' do %>
                        <span class="icon">
                            <%= icon('far', 'thumbs-up') %>
                            <span class="pl-1"><%= post.likes.count %></span>
                        </span>
                    <% end %>
                <% else %>
                    <%= link_to like_path(like[0]), method: :delete, class:'is-pulled-right' do %>
                        <span class="icon">
                            <%= icon('fas', 'thumbs-up') %>
                            <span class="pl-1"><%= post.likes.count %></span>
                        </span>
                    <% end %>
                <% end %>
            </div>
        </div>
        <% if current_user.id == post.user_id %>
            <div class="column is-1">
                <%= link_to edit_post_path(post), title: 'Edit Post' do %>
                    <span class="icon">
                        <%= icon('fas', 'pen') %>
                    </span>
                <% end %>
                <%= link_to post_path(post), method: :delete, title: 'Delete Post' do %>
                    <span class="icon">
                        <%= icon('fas', 'trash') %>
                    </span>
                <% end %>
            </div>
        <% end %>
    </div>
    <% if @post_friend %>
        <div class="comments is-12">
            <div class="posted_comments">
                <% if post.comments.length > 1%>
                    <%= render post.comments %>
                <% end %>
            </div>
            <%= render partial: 'comments/comment_form', locals: { comment: post.comments.build, message: 'Comment' } %>
        </div>
    <% end %>
</article>