<article class="post box m-2">
    <div class="columns">
        <div class="column is-2">
            <figure class="is-48x48 is-pulled-right">
                <%= image_tag 'https://bulma.io/images/placeholders/48x48.png', alt: 'Placeholder Image' %>
            </figure>
        </div>
        <div class="column is-9">
            <p class="is-text-weight-semibold is-size-6"><%= post.user.name %></p>
            <p class="is-size-6"><%= post.body %></p>
            <div class="likes">
                <% like = Like.locate_like(current_user.id, post.id) %>
                <% if like.empty? %>
                    <%= link_to likes_path(post_id: post), method: :post, class:'is-pulled-right' do %>
                        <span class="icon">
                            <%= icon('far', 'thumbs-up') %>
                            <span class="pl-1"><%= post.likes.count %></span>
                        </span>
                    <% end %>
                <% else %>
                    <%= link_to like_path(like[0]), method: :delete, class:'is-pulled-right' do %>
                        <span class="icon">
                            <%= icon('fas', 'thumbs-up') %>
                            <span class="pl-1"><%= post.likes.count %></span>
                        </span>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
    <div class="comments is-12">
        <div class="posted_comments">
            <% if post.comments.length > 1%>
                <%= render post.comments %>
            <% end %>
        </div>
        <%= render partial: 'comments/comment_form', locals: { comment: post.comments.build, message: 'Comment' } %>
    </div>
    <% if current_user.id == post.user_id %>
        <div class="column is-1">
            <%= link_to edit_post_path(post), title: 'Edit Post' do %>
                <span class="icon">
                    <%= icon('fas', 'pen') %>
                </span>
            <% end %>
            <%= link_to post_path(post), method: :delete, title: 'Delete Post' do %>
                <span class="icon">
                    <%= icon('fas', 'trash') %>
                </span>
            <% end %>
        </div>
    <% end %>
</article>